.header_logo_brandname{
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #f9f9f9; /* light-colored background */
    padding-bottom:0px;
}

.brand_logo{
    margin-top: 16px;
    margin-left: 150px;
}

.brand_name{
    padding-top: 16px;
    margin-right: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    font-size: 25px;
    line-height: 1.5;
    color: #003a68;
}

.nav-bar {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-style: inherit;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0em;
    text-transform: none;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
 
.nav-bar li {
    margin-right: 20px;
}
  
.nav-link {
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease;
}
  
.nav-link:hover {
    color: blue;
}

.login{
    margin: 25rem auto;
    width: min(90%, 75rem);
    padding: 2em;
    background-color: yellow;;
}

.date-time-picker{

}

.name-label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.Name{
    ;
}